.surbhi-centerheader {
  text-align: center;
}
@font-face{
  font-family: mustardo;
  src: url('mustardo.ttf');
}
.navbar-brand{
  font-family: mustardo;
  font-size: 26px !important;
  color: #FFAC00 !important;
}
.navbar{
  padding-top: 5px !important;
}
.nav-link{
  color: white !important;
}
.surbhi-profile-pic {
  border-radius: 50%;
}
.tex{
  color: silver;
}
#particles-js{
  position: absolute;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  background-color: #242424;
}
.carousel-item {
 height: 500px;
    text-align: center;
}
.fa-stack.fa-2x {
  color: #ffac00;
}
.fa-stack:hover .fa-circle {
  color: #42a5f5;
}
footer hr {
  width: 100%;
  height: 1px;
  border: 0 none;
  background: #ddd;
}
footer {
  background-color: #242424;
  padding-bottom: 100px;
}
/* .item1 {
  background-color:red;
  height: 100px;
}

 .item2 {
  background-color:yellow;
  height: 100px;
} 

.item3 {
  background-color:blue;
  /*height: 100px;
}*/
#borderimg {
  border: 50px solid transparent;
  padding: 0px;
  border-image: url(https://cdn.pixabay.com/photo/2016/10/24/14/44/corner-1766270_960_720.jpg) 30% round;
}
h1{
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px #FFCA00;
}
h3{
  font-size: 30px;
  font-family: helvetica

}
.animated{
  animation-play-state: running;
  animation-iteration-count: infinite;
}
body{
  overflow: hidden;
}
.mat{
  overflow: hidden;
}
p{
}
.footer{
  padding:40px 20px;
  flex-grow:0;
  color:#242424
  background: #242424;
}
.footer__inner{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto;
  width:760px;
  max-width:100%
}
@media(max-width:900px){
  .footer__inner{
    flex-direction:column
  }
}
.footer__content{
  display:flex;
  flex-direction:row;
  align-items:center;
  font-size:2rem;
  color:#999
}@media(max-width:900px){
  .footer__content{
    flex-direction:column;
    margin-top:10px
  }
}.footer__content>*:not(:last-child)::after{
  content:"";
  padding:0 5px
}
@media(max-width:900px){
  .footer__content>*:not(:last-child)::after{
    content:"";
    padding:0
  }
}.footer__content>*:last-child{
  padding:0 2px
}
@media(max-width:900px){
  .footer__content>*:last-child{
    padding:0
  }
}
a{
    text-decoration:none;
}
.bor{
    position: relative;
    font-size: 16px;
}
.bor:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;    
    left: 0;
    bottom: 10px;
    border-bottom: 3px solid #ffac00;  
}
.bord{
    position: relative;
    font-size: 2rem;
    color: #999999;
}
.bord:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;    
    left: 0;
    bottom: -2px;
    border-bottom: 3px solid #ffac00;  
}
.navbar-brand:hover{
  color: white !important;
}
.navbar{
  margin-bottom: -20px;
}
/* img{
  opacity: 0.5;
} */
